@import "style-wp.css";

@import "scss/vars";
@import "scss/fonts";
@import "scss/libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
}

input, textarea {
	border: #666 1px solid;
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center
}

.grid {
	display: grid;
}

.container {
	max-width: 1700px;
	width: 100%;
	padding: $gutter;
	margin: 0 auto;
	position: relative;
}

.norelative {
	position: static;
}

.button {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: 50px;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	/*
	 * Тут делайте свои улучшения для дефолтного стиля кнопки
	 */
}